body {
    height:100%;
    padding-top: 70px;
    background: #131313 no-repeat top center fixed;
    font-family: "Source Code Pro", "Hiragino Sans GB", "Microsoft YaHei";
    color:#9d9d9d;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #0af;
}

.nav-item-dark,
.nav-item-dark:hover,
.nav-item-dark:active,
.nav-item-dark:focus {
    background-color: #222;
    border: 1px solid #666666;
    color: #9d9d9d;
    outline: none;/*去除恶心的蓝色外框*/
}

.stick-bottom {
  bottom: 0;
  position: absolute;
  width: 100%;
}

.head-title {
    color: #0af;
}

.brand-breath {
    animation: breathLight 2s infinite alternate;
    -moz-animation: breathLight 2s infinite alternate;
    -webkit-animation: breathLight 2s infinite alternate;
    -o-animation: breathLight 2s infinite alternate;
}
@keyframes breathLight {
  50% { color: #9d9d9d; }
  100% { color: #0af; }
}
@-moz-keyframes breathLight {
  50% { color: #9d9d9d; }
  100% { color: #0af; }
}
@-webkit-keyframes breathLight {
  50% { color: #9d9d9d; }
  100% { color: #0af; }
}
@-o-keyframes breathLight {
  50% { color: #9d9d9d; }
  100% { color: #0af; }
}

.brand-red {
    animation: breathRed 5s forwards;
    -moz-animation: breathRed 5s forwards;
    -webkit-animation: breathRed 5s forwards;
    -o-animation: breathRed 5s forwards;
}
@keyframes breathRed {
  0% { color: #9d9d9d; }
  100% { color: red; }
}
@-moz-keyframes breathRed {
  0% { color: #9d9d9d; }
  100% { color: red; }
}
@-webkit-keyframes breathRed {
  0% { color: #9d9d9d; }
  100% { color: red; }
}
@-o-keyframes breathRed {
  0% { color: #9d9d9d; }
  100% { color: red; }
}
